body {
  font-family: 'Roboto', sans-serif;
  font-size: 1em;

  display: flex;

  background-color: snow;

  justify-content: space-around;
}

.page {
  display: flex;
  flex-direction: column;
}

.sheet {
  padding: 1rem;

  border-radius: 1px;
  background-color: white;
  box-shadow: 0 2px 5px silver;
}