.userForm__row {
  display: flex;
  flex-direction: row;

  justify-content: space-between;
}

.userForm__input {
  font-family: 'Roboto';

  padding: 0.5rem;

  border: 1px solid gainsboro;
  border-radius: 3px;
  box-shadow: inset 0 1px 1px whitesmoke;

  flex-grow: 1;
}

.userForm__bin {
  position: relative;
  top: 3px;

  display: flex;

  margin-left: 10px;

  align-items: center;
  flex-grow: 1;
}
